.l_login--container {
    display: grid;
    grid-template-areas: "login";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    height: 100vh;

    @media screen and (min-width: 768px) {
        grid-template-areas: "carrusel carrusel carrusel carrusel login";
        grid-template-rows: 1fr;
        grid-template-columns: .2fr;
    }

}

.l_login--section {
    grid-area: login;
    display: grid;
    grid-template-rows: 1.5fr 1fr 1fr 1fr .5fr 1fr;
    align-items: center;
    justify-items: center;
    height: inherit;
}

.l_login--info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}