

.f_heading--1 {
    font-family: $omnes-regular;
    font-size: 2em;
}

.f_heading--2 {
    font-family: $omnes-medium;
    font-size: 1.5em;
}

.f_heading--3 {
    font-family: $omnes-semibold;
    font-size: 1em;
}
.f_heading--4 {
    font-family: $omnes-bold;
    font-size: 0.875em;
}

.f-body{
    font-family: $omnes-regular;
    font-size: 1em;
}

.f-body--inputs{
    font-family: $omnes-regular;
    font-size: 0.875em;
}