.b_button--block {
    border-radius: 8px;
    color: white;
    width: 180px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    border:none;
    font-family: $omnes-regular;
}

.b_button--small {
    height: 24px;
    width: 24px;
    color: white;
}

// Color Button

.b_button--color--green {
    background-color: $success-verde;

    &:hover {
        background-color: hsla(171, 77%, 64%, 1);
    }
    &:active {
        background-color: hsla(171, 77%, 32%, 1)
    }
}

.b_button--color--melon {
    background-color: $melon-ngr;

    &:hover {
        background-color: hsla(31, 100%, 64%, 1);
    }

    &:active {
        background-color: hsla(31, 100%, 45%, 1);
    }
}

.b_button--color--orange {
    background-color: $naranja-ngr;
    &:hover {
        background-color: hsla(3, 100%, 64%, 1);
    }
    &:active {
        background-color: hsla(3, 100%, 32%, 1)
    }
}

//Buttons Cancel

.b_button--cancel--green {
    border-color: $success-verde;
    color: $success-verde;
}

.b_button--cancel--melon {
    border-color: $melon-ngr;
    color: $melon-ngr;
}

.b_button--cancel--orange {
    border-color: $naranja-ngr;
    color: $naranja-ngr;
}

