.c_cards{
    box-shadow: 0px 3px 8px #E5E5E5;
    background-color: white;
    border-radius: 3px;
}

.c_cards--menu{
    border-radius: 3px;
    box-shadow: 0px 3px 8px #E5E5E5;
    border: 0.75px solid #b3b3b3;
}