.c_input {

    height: 48px;
    width: 242px;
    display: flex;
    align-items: center;
    position: relative;

    .input_login {
        border: none;
        border: 1px solid $negro-30;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: $negro-30;
        font-size: 14px;
        height: 46px;
        width: 242px;
        padding-left: 12px;

        &:focus {
            outline: none;
            // box-shadow: 0px 4px 16px $negro-20;
            // border: 1px solid $negro-20;
       
        }

        &::placeholder {
            color: $negro-30;
            font-size: 14px;
            font-family: $omnes-regular;
        }
    }

    .c_icon--visibility {
        position: absolute;
        right: 12px;
    }




}

.l_form-control-input {
    display: grid;
    grid-template-columns: 48px 242px;
    align-items: center;
    justify-content: center;

}

.l_input--icon {

    text-align: center;
    border-top: 1px solid $negro-30;
    border-bottom: 1px solid $negro-30;
    border-left: 1px solid $negro-30;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.l_input--icon img {
    width: 20px;
    height: 20px;
}