.c_input {
    border: 1px solid $negro-30;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    width: auto;

    .input_login{
        border: none;
        
    }

    &::placeholder {
        color: $negro-30;
        font-size: 14px;
    }
}

.l_form-control-input {
    display: grid;
    grid-template-columns: 40px 212px;
    align-items: center;
    justify-content: center;
}

.l_input--icon {

    text-align: center;
    border: 1px solid $negro-30;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.l_input--icon img {
    width: 20px;
    height: 20px;
}